version: '3.8'

services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: permits
      POSTGRES_PASSWORD: Sowmya@123
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      DB_URL: "${DB_URL}"
      JWT_SECRET_KEY: "${JWT_SECRET_KEY}"
    depends_on:
      db:
        condition: service_healthy
